body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-image: url("http://cdn-images.9cloud.us/865/cyber_samurai_cowboy___standing_in__400465229.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
}

#navbar { 
  width: 100%;
  margin: 20px 0;
}

#navlist { 
  list-style: none;
  overflow: hidden;
}

.navitem { 
  float: left;
  width: 20%;
}
 
.navlink { 
  text-align: center;
  padding: 8px 0;
  display: block;
  width: 100%;
  background: #CC6600;
  background: -moz-linear-gradient(top, #CC6600 0%, #CC3300 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CC6600), color-stop(100%,#CC3300)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #CC6600 0%,#CC3300 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #CC6600 0%,#CC3300 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom, #CC6600 0%,#CC3300 100%); /* W3C, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#b0ca34',GradientType=0 ); /* IE6-9 */
  endColorstr='#b0ca34',GradientType=0 ); /* IE6-9 */
}
 
nav ul li a, nav ul li a:focus, nav ul li a:visited, nav ul li a:hover, nav ul li a:active {
  color: #000;
  text-decoration: none;
}
 
nav ul li a:hover, nav ul li a:active { 
  background: #FFFF66; /* Old browsers */
  background: -moz-linear-gradient(top, #FFFF66 0%, #FFFF66 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFF66), color-stop(100%,#FFFF66)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FFFF66 0%,#FFFF66 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FFFF66 0%,#FFFF66 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom, #FFFF66 0%,#FFFF66 100%); /* W3C, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0ca34', endColorstr='#96c40d',GradientType=0 ); /* IE6-9 */
}
 
nav ul li:first-child a {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
 
nav ul li:last-child a { 
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#intro {
  width: 300px;
  font-family: Mistral;
  font-style: oblique;
  font-size: 250%;
}